<!DOCTYPE html>
<html>
	<head>
		<title>
			Favorite Photographs
		</title>
		<link rel="stylesheet" type="text/css" href="style2.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="application.js"></script>
	</head>
	<body>
		<div id="photo-background">
			<div id="photo-text">
				<p>
					This is a compilation of my favorite shots. 
				</p>
			</div>
		</div>
		<div id="sunset">
			<img src="photos/sunset.jpg">
		</div>
		<div id="invasion">
			<img src="photos/invasion.jpg">
		</div>
		<div id="gettysburg">
			<img src="photos/gettysburg.jpg">
		</div>
		<div id="rhino">
			<img src="photos/rhino.jpg">
		</div>
		<div id="lady">
			<img src="photos/lady.jpg">
		</div>
		<div id="girl">
			<img src="photos/girl.jpg">
		</div>
		<div id="cod">
			<img src="photos/cod.jpg">
		</div>
		<div id="apple">
			<img src="photos/apple.jpg">
		</div>
		<div id="football">
			<img src="photos/football.jpg">
		</div>
		<div id="navigate">
			<div class="box2">
				<p>
					Navigate to:
				</p>
				<ul>
					<div id="link2">
						<li>
							<a href="video_games.html" target="_blank">Video Games</a>
						</li>
						<li>
							<a href="index.html" target="_blank">Home Page</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div class="box">
				 <p>
				 	This is a link to the gracious server hosting this site <a href="http://www.000webhost.com/" target="_blank">000webhost.com</a>
			 	</p>
		 	</div>
		</div>
	</body>	
</html>