<!DOCTYPE html>
<html>
	<head>
		<title>
			Favorite Video Games
		</title>
		<link rel="stylesheet" type="text/css" href="style2.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="application.js"></script>
	</head>
	<body>
		<div class="text">
			<p>
				Video games are the highest form of art. This is a compilation in honor of this art.
			</p>
		</div>
		</div>
		<div id="clash">
			<img src="video_games_images/Clash-of-Clans.jpg">
		</div>
		<div id="kart">
			<img src="video_games_images/Mario_Kart_64box.png">
		</div>
		<div id="wow">
			<img src="video_games_images/wow.jpg">
		</div>
		<div id="ocarina">
			<img src="video_games_images/ocarina-of-time-logo.jpg">
		</div>
		<div id="starcraft">
			<img src="video_games_images/StarCraft_box.jpg">
		</div>
		<div id="sims">
			<img src="video_games_images/The_Sims_Coverart.png">
		</div>
		<div id="diablo">
			<img src="video_games_images/Diablo_II_Coverart.png">
		</div>
		<div id="guild">
			<img src="video_games_images/guild_Wars.jpg">
		</div>
		<div id="runescape">
			<img src="video_games_images/runescape.jpg">
		</div>
		<div id="navigate">
			<div class="box2">
				<p>
					Navigate to:
				</p>
				<ul>
					<div id="link2">
						<li>
							<a href="photography.html" target="_blank">Photography</a>
						</li>
						<li>
							<a href="index.html" target="_blank">Home Page</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div class="box">
				 <p>
				 	This is a link to the gracious server hosting this site <a href="http://www.000webhost.com/" target="_blank">000webhost.com</a>
			 	</p>
		 	</div>
		</div>
	</body>
</html>